button {
  width: 100%;
  height: 100%;
  font-size: 10em !important;
  background: rgba(255, 255, 255, 0.849);
  border-width: 0;
  cursor: pointer;
}

.classX {
  color: rgb(214, 37, 6);
}

.classO {
  color: rgb(12, 15, 231);
}
