<div class="primary">
  <div class="top">
    <button (click)="newGame()">START</button>

    <div class="topDown">
      <h1 class="currentPlayer" *ngIf="!winner">
        Current Player: {{ player }}
      </h1>

      <h1 class="won" *ngIf="winner">{{ winner }} won!</h1>
    </div>
  </div>

  <main class="liveGame" *ngIf="!winner">
    <app-square
      *ngFor="let val of squares; let i = index"
      [value]="val"
      (click)="makeMove(i)"
      [class.classX]="val == 'X'"
    >
    </app-square>
  </main>
  <main class="endedGame" *ngIf="winner">
    <app-square
      *ngFor="let val of squares; let i = index"
      [value]="val"
      [class.classX]="val == 'X'"
    >
    </app-square>
  </main>
</div>
